.contact {
    margin: 7% 0;   
    text-align: center;
}

.contact h1 {
  color: #0056b3;
  text-align: center;
}

.contact-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  margin-top: 80px;
}

.contact-left {
    flex: 1;
    text-align: left;
}

.contact-left-heading {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.contact-left-heading img {
  width: 35px;
  margin-top: -10px;
}

.contact-left p {
    line-height: 1.6;
    color: #333;
    font-size: 18px;
}

.contact-email,
.contact-phone {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.contact-email img,
.contact-phone img {
  width: 40px;
}

.contact-right {
  flex: 1;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact-right input,
.contact-right textarea {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}

.contact-right input:focus,
.contact-right textarea:focus {
  border-color: #0056b3;
}

.contact-right button {
  width: 150px;
  padding: 12px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contact-right button:hover {
  transform: scale(1.05);
}

/* Responsive Design */

@media (max-width: 760px) {

  .contact h1 {
    font-size: 28px;
    margin-top: 40px;
  }
  .contact-desc {
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
  }

  .contact-right {
    width: 100%;
  }
}
