.blog {
    margin-top: 8%;   
    text-align: center;
}

.blog h1 {
  color: #0056b3;
}

.blog-desc {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}

.blog-div {
  width: 70%;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  padding-bottom: 20px;
}

.blog-div img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-div img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.blog-div h3 {
  margin: 20px;
  color: #333;
}

.blog-div button {
  margin-left: 20px;
  padding: 10px 18px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.blog-div button:hover {
  background-color: #003f8a;
}

/* Responsive Design */

@media (max-width: 760px) {

  .blog h1 {
    font-size: 28px;
    margin-top: 40px;
  }
  .blog-desc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
  }

  .blog-div {
    width: 98%;
  }
}