* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

.app {
    width: 80%;
    margin: auto;
    min-height: 56.7vh;
    display: flex;
    flex-direction: column;
}